.btn-h1-spacing {
    margin-top: 18px;
}

.form-spacing-top {
    margin-top: 15px;
}

.comment {
    margin-bottom: 35px;
}

.author-image {
    border-radius: 50%;
    float: left;
    height: 50px;
    width: 50px;
}

.author-name {
    float: left;
    margin-left: 15px;
}

.author-name>h4 {
    margin: 5px 1px;
}

.author-time {
    color: #bbb;
    font-size: 11px;
    font-style: italic;
}

.comment-content {
    clear: both;
    font-family: 'Merriweather';
    font-size: 15px;
    line-height: 1.3em;
    margin-left: 65px;
}

.comments-title{
	margin-bottom: 45px;
}

.comments-title>span{
	margin-right: 15px;
}